[submodule "swift-NDJSON-store"]
	path = swift-NDJSON-store
	url = git@github.com:Luv2C0d3/swift-NDJSON-store.git
[submodule "go-NDJSON-store"]
	path = go-NDJSON-store
	url = git@github.com:Luv2C0d3/go-NDJSON-store.git
[submodule "rust-NDJSON-store"]
	path = rust-NDJSON-store
	url = git@github.com:Luv2C0d3/rust-NDJSON-store.git
[submodule "clojure-NDJSON-store"]
	path = clojure-NDJSON-store
	url = git@github.com:Luv2C0d3/clojure-NDJSON-store.git
